<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>

	<!-- META TAGS -->
	<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
	<meta name="description" content="Free web portfolio by Kazoto @ kazoto.com" />
	<meta name="keywords" content="tan, portfolio, kazoto, free, free web template, free portfolio,
								   premium template, premium portfolio, premium portfolio template,
								   free portfolio template, free web tools
								  " />
	<meta name="author" content="Izikeo @ Kazoto (intirtec.izikeo@gmail.com)" />
	
	<!-- TITLE -->
        <title>Control de Inventario</title>
	<!-- STYLE SHEETS -->
        <%= stylesheet_link_tag 'style' %>
	
</head>
<body>
<!-- WRAPPER -->
<div class="wrapper">
	
	<!-- HEADER -->
	<div class="header">
		
		<!-- LOGO -->
		<div class="logo"><a href="index2.html" class="custom-font"> <img src="../img/header/logo.png"> J<span>ER S.A.</span></a></div>
		
		<!-- NAVIGATION -->
		<div class="navigation">
			<ul>
				<li><a href="/index2.html">Inicio</a><span>Quienes somos</span></li>
				<li class="current"><a href="/proveedores">Proveedores</a><span>Listado de proveedores</span></li>
				<li ><a href="/clientes">Clientes</a><span>Listado de Clientes</span></li>
				<li class="current"><a href="/productos">Productos</a><span>Listado de producto</span></li>
				<li class="last"><a href="/historials">Historial</a><span>Movimientos en bodega</span></li>
			</ul>
		</div>
		<!-- END NAVIGATION -->
		
		<div class="spacer"></div><!-- TO FIX FLOAT ISSUES -->
		
	</div>
	<!-- END HEADER -->
	
	<p style="color: green"><%= notice %></p>
         <%= yield %>
	<!-- FOOTER -->
	<div class="footer">
		
		<!-- FOOTER LEFT -->
		<div class="footer-left">
			
			<!-- FOOTER LOGO -->
			<a href="#" class="footer-logo custom-font">JER S.A.</a> 
			
			<!-- FOOTER NAVIGATION -->
			<a href="/index" class="footer-link">inicio</a>
			<font>-</font>
			<a href="/proveedores" class="footer-link">Proveedores</a>
			<font>-</font>	
			<a href="/clientes" class="footer-link">Clientes</a>
			<font>-</font>	
			<a href="/productor" class="footer-link">Producto</a>
		</div>
		<!-- END FOOTER LEFT -->
		
		<!-- FOOTER RIGHT -->
		<div class="footer-right">
			
			<span class="copyright">&copy; Copyright <a href="#">JER S.A.</a>. All rights reserved.</span>
			<span class="branding">Design by F.Rodriguez E.Rodriguez R.Gonsalez | 2012</span>
			
		</div>
		<!-- END FOOTER RIGHT -->
		
		<div class="spacer"></div><!-- TO FIX FLOAT ISSUES -->
		
	</div>
	<!-- END FOOTER -->
	
</div>
<!-- END WRAPPER -->

</body>
</html>
